.container
  ln-nav(page-title="leffnote")

  .page-header
    h1 notes

    .row
      .col-xs-12.col-md-4
        .panel.panel-default
          .panel-heading Add a note
          .panel-body
            form
              .form-group
                label(for="newnote-title") Title
                input.form-control(type="text" id="newnote-title" ng-model="newnote.title")
              .form-group
                label(for="newnote-src") Source Url
                input.form-control(type="text" id="newnote-src" ng-model="newnote.src")
              .form-group
                label(for="newnote-content") Note
                textarea.form-control(id="newnote-content" ng-model="newnote.content")

              button.btn.btn-primary(ng-click="addNote()") add

      .col-xs-12.col-md-8
        ul.list-group
          li.list-group-item(ng-repeat="note in filteredNotes")
            .media
              .media-left
                a(href="{{ note.src }}")
                  img.media-object(src="assets/leff-logo/leff-logo-orange-0.5x.png" style="max-width: 64px;")
              .media-body
                h4.media-heading {{ note.title }}
                | {{ note.content }}
                button(ng-click="filteredNotes.$remove(note)") x

