.container
  .page-header
    h1 leffnote: notes

  div(ng-show="firebaseUser")
    p Hello, {{ firebaseUser.displayName }}
    img(src="{{ firebaseUser.photoURL }}")
    button(ng-click="auth.$signOut()") Sign Out
  div(ng-hide="firebaseUser")
    p Welcome, please sign in.
    button(ng-click="auth.$signInWithPopup('google')") Sign In With Google


  div(ng-if="firebaseUser")
    button(ng-click="addNote()") add

  div
    div(ng-repeat="note in filteredNotes")
      h3 {{ note.title }}
      p {{ note.content }}
      button(ng-click="filteredNotes.$remove(note)") x

